/.vscode
/18 paskaita - 03.09 - JS Įvadas
/19 paskaita - 03.10 - Kintamieji ir Sąlygos
/20 paskaita - 03.13
/21
/22
/23 paskaita - 03.16 - JS Formų valdymas
/25 paskaita - 03.20 - JS DOM manipuliavimo praktika
/25 paskaita - praktines uzduotis
/26 paskaita - 03.21 - primityvu metodai
/27 paskaita - 03.22 - Masyvų neiteraciniai metodai
/28 paskaita - 03.23 - Masyvų iteraciniai metodai IR destructuring IR conditions
/29 paskaita - 03.24 - Metodų praktika